---
import type { ImageMetadata } from "astro";
import { getEntry } from "astro:content";
import socialMediaImageEn from "../../assets/social-media-image-en.png";
import socialMediaImageFi from "../../assets/social-media-image-fi.png";
import Layout from "../../layouts/Layout.astro";
import { getLocaleFromUrl } from "../../utils/i18n";

interface Props {
  error: 404;
}

const { error } = Astro.props;

const locale = getLocaleFromUrl(Astro.url);

let socialMediaImage: ImageMetadata;

if (locale === "en") {
  socialMediaImage = socialMediaImageEn;
} else {
  socialMediaImage = socialMediaImageFi;
}

const content = await getEntry("error", `${locale}/not-found`);
const { Content } = await content!.render();
---

<Layout image={socialMediaImage} title={content.data.title}>
  <section
    class="prose prose-lg dark:prose-invert hover:prose-a:text-red-700 focus:prose-a:text-red-700 prose-em:ml-0.5 prose-em:font-serif hover:dark:prose-a:text-red-400 focus:dark:prose-a:text-red-400"
  >
    <h1 class="not-prose mx-8 my-6 text-center font-mono text-6xl font-bold">
      {error}
    </h1>
    <h2
      class="not-prose mx-8 mb-10 mt-6 text-center font-mono text-3xl font-bold"
    >
      {content.data.title}
    </h2>
    <Content />
  </section>
</Layout>
